.head {
    background-color: #7a00ff;
    height: 100px;
}

.log {
    font-size: 24px;
    color: #00ffd5;
    font-family: bold;
    float: right;
    padding-top: 20px;
}

.auth {
    padding-right: 20px;
    font-size: 24px;
    color: #00ffd5;
    font-family: bold;
    float: right;
}

.logo {
    width: 100px;
    margin: 10px;
}