.profile {
    margin-top: 50px;
    margin-left: 50px;
}

.wp {
    width: 800px;
    height: 150px;
    margin-bottom: 50px;
}

.ava {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.description {
    color: whitesmoke;
}