.ava{
    width: 150px;
    border-radius: 120px;
}
.text{
    color: yellow;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.counter{
    color: yellow;
    font-size: 18px;
}
.selected{
    color: darkorange;
    font-size: 19px;
}