.wrapper {
    display: grid;
    position: relative;
    height: 120vh;
    background: rgba(43,43,43, 1);
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-rows: 200px;
    color: white;
    font-size: 24px;
    padding: 20px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box1 img {
    width: 100%;
    height: 100%;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 img {
    width: 100%;
    height: 100%;
}

.box3 {
    background: #0760fa;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box4 {
    background: #7200ec;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box5 {
    background: #8324e2;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box6 {
    background: #1345fa;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box7 {
    background: #2ecad7;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box8 {
    background: #008cc1;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box9 {
    background: #2a35a8;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box10 {
    background: #2a6acc;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box11 {
    background: #012989;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box12 {
    background: #1d73bd;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.footer{
    position: relative;
    background: #0a0a0a;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}
h1{
    position: absolute;
    left: 15%;
    top: 25%;
    font-size: 80px;
}
.wrapper div:hover {
    width: 98%;
    height: 98%;
    opacity: 80%;
}
@media (min-width: 320px) and (max-width: 479px) {
    .box2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .box3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .box4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .box5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .box6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .box7 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .box8 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .box9 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .box10 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;
    }

    .box11 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 13;
    }

    .box12 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 13;
        grid-row-end: 14;
    }
    .footer{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 14;
        grid-row-end: 17;
    }
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 60px;
        font-size: 8px;
        grid-column-gap: 7px;
        grid-row-gap: 7px;
        padding: 5px;
    }
    h1{
        left: 10%;
        top: 25%;
        font-size: 15px;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .wrapper{
        grid-auto-rows: 55px;
        font-size: 8px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px;
    }
    h1{
        left: 15%;
        top: 25%;
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .box3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .box4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .box5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .box6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .box7 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .box8 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .box9 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .box10 {
display: none;
    }

    .box11 {
display: none;
    }

    .box12 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .footer{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 8;
    }
    .wrapper{
        grid-auto-rows: 150px;
        font-size: 16px;
        grid-template-columns: repeat(4, 1fr);
    }
    h1{
        left: 14%;
        top: 20%;
        font-size: 35px;
    }
}
@media (min-width: 1000px) and (max-width: 1279px) {
    .wrapper{
        grid-auto-rows: 140px;
        font-size: 20px;
    }
    h1{
        left: 14%;
        top: 25%;
        font-size: 50px;
    }
}
@media (width: 1280px){
    .wrapper{
        grid-auto-rows: 180px;
        font-size: 22px;
    }
    h1{
        left: 14%;
        top: 25%;
        font-size: 60px;
    }
}